*.sublime-workspace
core/
build/
data/*.exe
data/*.dll
data/*.so
data/*.ini
data/*.app/
data/cswitch
data/cswitch_app.so
data/cswitch_app_TEMP.so
data/libpig_core.so
data/old_resources/
DEBUG_*.png
.DS_Store